%p#notice= notice

%p
  %b Name:
  = @box.name

%p
  %table
    %tr
      %th Box
      %th Desc
      %th
      %th
      %th
    - @box.things.each do |thing|
      %tr
        %td= thing.box_id
        %td= thing.desc
        %td= link_to 'Show', thing
        %td= link_to 'Edit', edit_thing_path(thing)
        %td= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' }

%p
  =image_tag(@box.qr_code.url)

= link_to 'Edit', edit_box_path(@box)
\|
= link_to 'Back', boxes_path
